<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.module8finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Module8FinalProject">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoogleActivity"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH4"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH5"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH6"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH7"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH8"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH12"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH13"
            android:label="@string/app_name"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".cH17"
            android:label="@string/app_name"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".cH18"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH19"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH1_OOP"
            android:label="@string/app_name"
            />

        <activity
            android:name=".cH1_Variables"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH1_Initializing"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH2_SOUT"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH2_Packag"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH2_IMP"
            android:label="@string/app_name"
            />

        <activity
            android:name=".cH3_Branching"
            android:label="@string/app_name"
            />

        <activity
            android:name=".cH3_ConOp"
            android:label="@string/app_name"
            />

        <activity
            android:name=".cH3_OrOp"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH4_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH4_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH4_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH5_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH5_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH5_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH6_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH6_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH6_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH7_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH7_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH7_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH8_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH8_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH8_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH12_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH12_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH12_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH13_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH13_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH13_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH17_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH17_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH17_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH18_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH18_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH18_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH19_1"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH19_2"
            android:label="@string/app_name"
            />
        <activity
            android:name=".cH19_3"
            android:label="@string/app_name"
            />
        <activity
            android:name=".uML"
            android:label="@string/app_name"
            />




    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
</manifest>

